 

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{vm.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

           <!--  <p>{{vm.tagline.text}}</p> -->


              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


 







 

<!-- ORIG
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
                <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-right navbar-logo">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a ng-href="{{vm.tagline.link}}" target="_blank">
                                {{vm.tagline.text}}
                            </a>
                        </li>
                        <li class="dropdown dropdown-big">
                            <a href="http://www.angularjs.org" target="_blank">
                                <img src="images/AngularJS-small.png" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gulpjs.com/" target="_blank">
                                <img src="images/gulp-tiny.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
