body {
  background: #666;
}
.content {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  height: 500px;
  position: relative;
  top: 0px;
  overflow: hidden;
}
.tabsample2 ul {
  float: left;
  margin: 35px 10px 0px 0px;
}
.tabsample2 li {
  text-align: right;
  padding-bottom: 45px;
}
.tabsample2 #container {
  float: left;
  overflow-x: scroll;
  width: 80%;
  height: 302px;
}
.tabsample2 #mobileusage {
  width: 800px;
  height: 300px;
  border: 1px dotted #40bf80;
}
#main-content {
  box-shadow: -3px 0px 6px -3px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  background: #fff;
  margin-top: 20px;
  padding-bottom: 80px;
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  border-radius: 0;
  height: 63px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
}
ul.__navi li {
  list-style-type: none;
  color: #fff;
  padding: 20px 0 0 0px;
}
ul.__navi li.current a  {
  color: #009ddc !important;
}
ul.__navi a {
  color: #fff;
  font-size: 50px;
  padding: 20px 0 0 33px;
  transition:.4s ease-in-out;

}










/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}